# env
.env

# gradle
.gradle/
build/
out/
bin/

# intellij
.idea/
*.iml
*.ipr
*.iws

# eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# netbeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# vscode
.vscode/

# mac
.DS_Store

# keep wrapper
!gradle/wrapper/gradle-wrapper.jar